{% extends 'base.html' %}




{% block title %}CKN Explorer{% endblock %}

{% block page_title %}CKN Explorer{% endblock %}

{% block description %}
  <p><small>Find nodes in CKN using the searchbox below, add them to the query, and then click "Search!" to extract the subnetwork. </small>
    <button type="button" class="py-0  btn btn-outline-info btn-xs inline" data-toggle="popover" data-bs-content='
   <div style="width:100%;">

    <p  class="card-text">
    If the query contains only one node a neighbourhood is returned. Otherwise, the undirected shortest paths between all pairs of nodes are merged and returned.
    </p>

   <p> Note that the shortest path does not take into account the direction of the edges. Results are limited to show the top 25 nodes (ranked topologically by page-rank). </p>

    <p>For more information, see <a href="https://skm.nib.si/documentation/ckn-explore" target="_blank">SKM Documentation &#167; CKN</a>. </p>

  </div>' data-bs-html="true" title="Help">
      More
    </button>
  </p>

{% endblock %}

{% block search_interface %}


<div id="searchSelectWrapper">
</div>
<div class="input-group mb-3">
  <select id="queryInput" class="select_items form-select" placeholder="Search CKN nodes" aria-label="Search CKN nodes" aria-describedby="add2selected" ></select>
  <button class="btn btn-outline-secondary p-1" type="button" id="add2selected">Add</button>
</div>






  <label for="queryList" class="form-label mb-0 pb-0"><h6 class="mb-0 pb-0">Query:</h4></label>
    <div id="queryList"class="list-group flex-grow-1" style="overflow-y: scroll;"></div>


<div id="push_down" class="flex-column w-100 align-self-end">
  <div class="accordion mt-1 w-100">
    <div class="accordion-item mb-3">
      <h5 class="accordion-header" id="heading-filters">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#filters" aria-expanded="false" aria-controls="filters">
              Filters
            </button>
      </h5>
      <div id="filters" class="accordion-collapse collapse" aria-labelledby="heading-filters">
        <div class="accordion-body">
        <h5 class="mb-0 mt-2">Include edge ranks:</h5>
          {% for p in [(0, "checked"), (1, "checked"), (2, "checked"), (3, ""), (4, "")] %}
            <div class="vstack gap-3">
              <input class="form-check-input" type="checkbox" id="limit_ranks_{{ p[0] }}" {{ p[1] }} value="{{ p[0] }}">
              <label class="mx-2" for="limit_ranks_{{ p[0] }}">rank {{ p[0] }}</label>
            </div>
          {% endfor %}

        <h5 class="mb-0 mt-2">Include tissue expressed genes:</h5>
          {% for i in ['root','stem','flower','seed','leaf', 'not assigned'] %}
            <div class="vstack gap-3">
              <input class="form-check-input" type="checkbox" id="limit_tissues_{{i}}" checked="true", value="{{i}}">
              <label class="mx-2" for="limit_tissues_{{i}}">{{i}}</label>
            </div>
          {% endfor %}

        </div>
      </div>
    </div>
  </div>

  <div class="row px-3">
    <button type="button" class="btn btn-primary p-1 " id="searchButton">Search!</button>
  </div>
</div>

{% endblock %}

