{% extends 'base.html' %}

{% block title %}CKN explorer{% endblock %}

{% block page_title %}CKN explorer{% endblock %}

{% block description %}
  <p> Use the searchbox to find nodes in CKN and add them to the query box. </p>
{% endblock %}

{% block search_interface %}

  <div class="mb-3">
    <div class="vstack gap-3">
      <input class="form-check-input" type="checkbox" id="limit_ranks" value="" aria-label="...">
      <label class="mx-2" for="form-check-ranks">limit to rank 0, 1, and 2 edges</label>
    </div>
  </div>


  <div class="mb-3">
    <div id="searchSelectWrapper">
        <label for="queryInput" class="form-label">Search CKN</label>
        <div id="myModal">
            <select id="queryInput" class="select_items"></select>
        </div>
    </div>

    <div class="row">
      <div class="col-md-8 offset-md-4 me-0">
        <button type="button" class="btn btn-outline-primary float-end" id="add2selected">add to query</button>
      </div>
    </div>
  </div>

  <label for="queryList" class="form-label">Your query</label>
  <div id="queryList_contaner">
    <div class="list-group" id="queryList"></div>
  </div>

  <div class="container mb-3 me-0 pe-0 ps-0">
    <div class="row me-0 justify-content-between">

      <div class="col-6">
        <div class="dropdown float-start ps-0">
          <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="saveAsButton" data-bs-toggle="dropdown" aria-expanded="false">export</button>
          <ul class="dropdown-menu" id="saveAsDropdown" aria-labelledby="saveAsButton">
             <a class="dropdown-item" href="#nodes">nodes (.csv format)</a>
             <a class="dropdown-item" href="#edges">edges (.csv format)</a>
             <a class="dropdown-item" href="#png">image (.png format)</a>
          </ul>
        </div>
      </div>

      <div class="col-6">
        <div class="pe-0">
          <button type="button" class="btn btn-primary float-end" id="searchButton">search</button>
        </div>
      </div>

    </div>
  </div>


<div id="spinner" class="card-body text-center">
  <span class="spinner-border spinner-border-md" role="status" aria-hidden="true"></span>
  <span> Searching... </span>
</div>


{% endblock %}