{% extends 'base.html' %}

{% block title %}SKM - CKN explorer{% endblock %}

{% block page_title %}CKN explorer{% endblock %}

{% block description %}
  <p> Use the searchbox to find nodes in CKN and add them to the query box. </p>
{% endblock %}

{% block search_interface %}
  <div class="mb-3">
    <div id="searchSelectWrapper">
        <label for="queryInput" class="form-label">Search CKN</label>
        <div id="myModal">
            <select id="queryInput" class="select_items"></select>
        </div>
    </div>

    <div class="row">
      <div class="col-md-8 offset-md-4 me-0">
        <button type="button" class="btn btn-outline-primary float-end" id="add2selected">add to query</button>
      </div>
    </div>
  </div>

  <label for="queryList" class="form-label">Your query</label>
  <div id="queryList_contaner">
    <div class="list-group" id="queryList"></div>
</div>
    <div class="container mb-3 me-0 pe-0">
      <div class="row me-0 justify-content-between">

        <div class="col-6">
          <div class="dropdown float-start">
            <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="saveAsButton" data-bs-toggle="dropdown" aria-expanded="false">export</button>
            <ul class="dropdown-menu" id="saveAsDropdown" aria-labelledby="saveAsButton">
               <a class="dropdown-item" href="#nodes">nodes (.csv format)</a>
               <a class="dropdown-item" href="#edges">edges (.csv format)</a>
            </ul>
          </div>
        </div>

        <div class="col-6">
          <button type="button" class="btn btn-primary" id="searchButton">search</button>
        </div>

      </div>
    </div>
{% endblock %}